.modal-wrapper {
  position: fixed;
  font-family: "Determination";
  top: 10%;
  z-index: 999;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: black;
  border: clamp(4px, 0.4vw, 32px) solid white;
  padding: clamp(10px, 1vw, 4rem) clamp(20px, 1vw, 5rem);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  white-space: nowrap;
}
