.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;

  display: grid;
  place-items: center;
}

.content {
  white-space: pre-wrap;
  text-align: start;

  font-size: 24px;
  font-size: clamp(16px, 2vw, 96rem);
}

.intro {
  font-size: clamp(24px, 6vw, 96rem);
}
