.container {
  width: 800px;
}

.content {
  white-space: pre-wrap;
  text-align: start;

  font-size: 24px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro {
  font-size: 56px;
}
