.hearts {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
}
.hearts > div {
    position: absolute;
    display: grid;
    place-content: center;
    transition: left 0.3s ease, top 0.3s ease;
    opacity: 0;
}
.hearts > div:nth-of-type(1) {
    color: cyan;
    left: calc(50% + 120px);
    top: calc(50% + 0px);
    transform: translate(-50%, -50%);
}
.hearts > div:nth-of-type(2) {
    color: orange;
    left: calc(50% + 60px);
    top: calc(50% + 104px);
    transform: translate(-50%, -50%);
}
.hearts > div:nth-of-type(3) {
    color: blue;
    left: calc(50% - 60px);
    top: calc(50% + 104px);
    transform: translate(-50%, -50%);
}
.hearts > div:nth-of-type(4) {
    color: purple;
    left: calc(50% - 120px);
    top: calc(50% + 0px);
    transform: translate(-50%, -50%);
}
.hearts > div:nth-of-type(5) {
    color: green;
    left: calc(50% - 60px);
    top: calc(50% - 104px);
    transform: translate(-50%, -50%);
}
.hearts > div:nth-of-type(6) {
    color: yellow;
    left: calc(50% + 60px);
    top: calc(50% - 104px);
    transform: translate(-50%, -50%);
}
