
.button {
    border: 1px solid #ff8902;
    color: #ff8902;
    font-size: 32px;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button:hover:not(:disabled) {
    border-color: #ffff05;
    color: #ffff05;
}
