@font-face {
  font-family: Determination;
  src: url(assets/fonts/determination-extended.ttf) format("truetype");
}

#game-container {
  width: 800px;
  height: 500px;

  text-align: center;
  font-weight: 400;
  font-family: Determination, sans-serif;
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blink {
  animation: blink 0.1s infinite alternate; /* Blink animation */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: grid;
  place-items: center;
  place-content: center;

  width: 100vw;
  height: 100vh;
}
