.image-wrapper {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0 auto;

  width: clamp(110px, 10vw, 48rem);
  height: clamp(120px, 12vw, 48rem);
}

.current-soul {
  width: clamp(40px, 2vw, 10rem);
  height: clamp(40px, 2vw, 10rem);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slowLevitate 2s ease-in-out infinite;
}

.tv-screen {
  width: 100%;
  height: 100%;
  /* background-color: #242424; */
  animation: levitate 3s ease-in-out infinite;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slowLevitate {
  0% {
    transform: translateX(-50%) translateY(2px);
  }
  50% {
    transform: translateX(-50%) translateY(-3px);
  }
  100% {
    transform: translateX(-50%) translateY(2px);
  }
}
